// Font Color
$title: #2e8b57;
$logo: #0000cd;
$hr: #b7a2a293;
$navbar : #808080;
$edit: rgba(60, 0, 255, 0.768);

// Fonts Size
$sfs: 0.7rem;
$afs: 1.2rem;
$aafs: 1.8rem;
$lfs: 2.2rem;

// Font Weight
$sfw: 200;
$afw: 400;
$aafw: 600;
$lfw: 800;

// Background
$header: #e6e6fa;
$title: #228b22;
$main: #f8f8ff;
$section: #fffafa;
$aside: #e6e6fa;
$footer: #9fafdf;
$buttonbg: #4682b4;
$editbg: #ebebf8;

// hover
$button: #87ceeb;
$font: #ff2a04;
$sidebar: #ded0ed;

// padding
$buttonPadding: 0.2rem;
$boxPadding: 0.5rem 1rem;
$textPadding: 0.2rem 0.5rem;

// border radius
$radius: 0.2rem;
$radius-color: #c6a8ed;
$border: #9b98f3;

// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%;
